.hero-container {
  display: flex; background: white; border-radius: 16px; overflow: hidden;
  box-shadow: 0 4px 20px rgba(0,0,0,0.05); min-height: 350px;
  @media (max-width: 768px) { flex-direction: column; }
  .hero-img { flex: 1.2; max-height: 460px; img { width: 100%; height: 100%; object-fit: cover; } }
  .hero-content {
    flex: 1; padding: 30px 100px 30px 35px; display: flex; flex-direction: column; justify-content: center;
    .meta { font-size: 1rem; color: #888; font-weight: 500; margin-bottom: 40px; }
    h2 { font-family: "Gelasio", serif; font-optical-sizing: auto; font-size: 2.8rem; font-weight: 700; line-height: 1em; margin: 15px 0; color: #000; }
    p { color: #666; font-size: 1.25rem; line-height: 100%; margin-bottom: 25px; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; }
    button { width: fit-content; color: white; border: none; padding: 12px 30px; border-radius: 50px; font-weight: 700; cursor: pointer; transition: 0.3s; }
  }
}