<div class="page-container">
  <div *ngIf="!isLoading && posts.length > 0" class="posts-grid">
    <div class="post-card" *ngFor="let post of posts">
      
      <div class="card-body">
        <div class="meta-info">
          <span class="date"><i class="bi bi-calendar3"></i> {{ post.createdAt | date:'mediumDate' }}</span>
          
          <span class="author">
            <i class="bi bi-person"></i> {{ getAuthorName(post.author) }}
          </span>
        </div>

        <h3 class="post-title" title="{{ post.title }}">{{ post.title }}</h3>
        <p class="post-excerpt">
          {{ (post.content | slice:0:100) }}...
        </p>
      </div>

      <div class="card-footer">
        <a [routerLink]="['/posts/details', post.id]" class="btn-action view">
          Read More <i class="bi bi-arrow-right"></i>
        </a>
        
        <div class="action-buttons" *ngIf="canEditPost(post)">
          <a [routerLink]="['/admin/posts/edit', post.id]" class="btn-icon edit" title="Edit">
            <i class="bi bi-pencil"></i>
          </a>
          <button (click)="onDelete(post.id)" class="btn-icon delete" title="Delete">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>